/vendor/
/node_modules/

# Laravel specifikus
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
/bootstrap/compiled.php
/app/storage/
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/pail

# Logok és cache fájlok
/storage/logs/
/.phpunit.result.cache
.phpunit.result.cache

# Egyéb fejlesztői fájlok és mappák
/.vagrant
/.idea/
/.vscode/
/.nova/
/.fleet/
/.zed/

# Operációs rendszer fájlok
.DS_Store
Thumbs.db

# NPM, Yarn hibák
npm-debug.log
yarn-error.log

# Egyéb
auth.json
.phpactor.json
/bootstrap/ssr/
